.root {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    margin-top: 200px;
}

.img {
    max-width: 850px;
    width: 100%;
}

.title {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
    text-align: center;
}

.text {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
}