.root {
    margin: 30px;
}

.content {
    width: 1000px;
    margin: 0 auto;
}

.timeline {
    width: 480px;
}

.items {
    margin-top:20px;
    display: flex;
    justify-content: space-evenly;
}