.root {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user {
    width: 100%;
    display: flex;
    align-items: center;
    height: 45px;
    margin-bottom: 16px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    font-weight: 600;
}

.user__image {
    display: flex;
    margin-right: 10px;
    width: 35px;
    height: 35px;
}

.user__avatar {
    border-radius: 50%;
}

.user__Name {
    margin-left: 5px;
}