.userPhoto {
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.pagination {
    width: 100px;
    display:flex;
    justify-content: space-between ;
    margin: 50px;
}

.selectedPage {
    font-weight: bold;
}