.root {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.textarea {
    font-style: normal;
    color: #393939;
    overflow: hidden;
    background: #f0f2f5;
    border: none;
    border-radius: 20px;
    resize: none;
    padding: 12px 24px;
    height: 40px;
    outline: none;
    width: 100%;

    /*white-space: pre-wrap;*/
    /*white-space: -moz-pre-wrap;*/
    /*white-space: -o-pre-wrap;*/
    /*word-wrap: break-word;*/
}

.buttonBlock {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    border-top: 1px solid rgba(229, 231, 235, 1);
    margin-top: 20px;
    padding-top: 20px;
}

.button {
    background-color: #2563EB;
    padding: 0 20px;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 500;
    height: 36px;
    border: none;
    border-radius: 6px;
}

.button:hover {
    opacity: 0.9;
}

