.root {
  margin: 0 auto;
  font-family:Inter, sans-serif;
  font-size: 15px;
}

.container {
  display: flex;
  background-color: #f9fafb;
}

.content {
  width:100%;
  height: 100vh;
}

h3 {
  color: #333333;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}