.root {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    padding: 20px;
    overflow: hidden;
    border: 1px solid #ebe9e6;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.textareaButtonBlock {
    display: flex;
    align-items: center;
    gap: 15px;
}

.textarea {
    max-width: 400px!important;
    color: #393939 !important;
    background: #f0f2f5 !important;
    border-radius: 20px !important;
    padding: 12px 24px;
}



.button {
    background-color: #2563EB;
    padding: 0 20px;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 500;
    height: 36px;
    border: none;
    border-radius: 6px;
}

.button:hover {
    opacity: 0.9;
}

