.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(229, 231, 235, 1)
}

.mainBlock {
    display: flex;
}

.logoBlock {
    display: flex;
    align-items: center;
    width: 190px;
}

.menuIcon {
    margin-right: 10px;
    cursor: pointer;
}

.menuLogo {
    cursor: pointer;
}

.searchBlock {
    position: relative;
    display: flex;
    align-items: center;
}

.searchIcon {
    position: absolute;
    left: 10px;
}

.searchInput {
    min-width: 550px;
    height: 44px;
    color: #393939;
    padding: 0 30px 0 40px;
    outline: 0;
    background: #f0f2f5;
    border: 1px solid transparent;
    border-radius: 2rem;
    font-size: 15px;
}

.loginBlock {

}