.app-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background-color: red;
}

.container {
  display: flex;
  background-color: #F7F9FB;
}

.aside {
  width: 290px;
}

.main {
  width: 850px;
}